* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background: #8264fb;
}

.container {
  background: #fff;
  max-width: 700px;
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #303030;
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.form .input-box label {
  color: #303030;
}

.form :where(.input-box input, .select-box) {
  margin-top: 8px;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  padding: 0 15px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 6px;
  color: #818181;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.gender label {
  color: #818181;
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
  padding-top: 4px;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: #8264fb;
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.form .gender-box {
  margin: 20px 0 8px;
}

.gender-box h3 {
  color: #303030;
  font-weight: 400;
  font-size: 1rem;
}

.select-box select {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: #818181;
  font-size: 1rem;
}

.address :where(input, .select-box) {
  margin-top: 20px;
}

.form button {
  width: 100%;
  height: 55px;
  background-color: #8264fb;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 30px;
  color: #fff;
  font-size: 1rem;
  transition: all 0.4s ease;
  font-weight: 400;
}

.form button:hover {
  background-color: #5838fa;
}

@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
